.resultCard {
  text-align: left;
  text-overflow: wrap;
  width: 210px;
  padding: 20px 30px;
  margin: 15px;
  list-style-type: none;
  background-color: #E8E8E8;
}

.searchForm {
  margin: 50px 0px 20px 55px;

}

.searchInput {
  margin: 12px 10px 0px 0px;
}

.noResults {
	margin-left: 55px;
}